 .Card  {
    /* display: flex;
    flex-direction: row;
    align-content: center; */
    border-radius: 10px;
    border: 4px solid blue;
    width: 32%;
    /* width: 500px;
    height: 500px; */

} 

.name h2{
    color: #8C30F5;
    align-content: center;
    justify-content: center;
    border: 2px solid yellow;
    width: 100%;

}
.image img{
    display: flex;
    flex-flow: row wrap;
    border-radius: 20px;
    width: 100%;
    
    border: 2px solid brown;
}
.footer{
    display: flex;
    flex-flow: row wrap;
    border: 2px solid salmon;
    align-content: center;
    justify-content: center;
}
.genres{ 
    border: 2px solid #8C30F5;
    width: 50%;

}

.genres ul li{
    color: #2EC5CE;
    border: 2px solid lightcyan ;
    width: 30%;
}

.btn {
    background-color: #8C30F5;
    border: 2px solid blue;
    
    width: 40%;
    height: 45%;
    border-radius: 5px;
}

/* .card img { 
    width:'200px'; 
    height:'250px'
} */
