.card body {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 10px;
    border: 2px solid grey;

}

.card img { 
    width:'200px'; 
    height:'250px'
}