/* body{
    background-image: url('../img/valentin-beauvais-yVUQlyRlJSw-unsplash.jpeg');
    background-position: center;
    background-size: cover;
     margin-top: 40px; 
    font-family: 'Courier New', Courier, monospace;
} */
.createForm{
    width: 800px;
    background-color: rgb(0,0,0,.8);
    margin: auto;
    color: #FFFFFF;
    padding: 10px 0px 10px 0px ;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}

.main{
    background-color: rgb(0,0,0,0.6);
    width: 800px;
    margin: auto;
    padding-bottom: 5%;
}

.main form{
    padding: 10px;

}
/* #name{
    width: 100%;
    height: 100px;
} */
.name{
    margin-left: 25px;
    margin-top: 30px;
    width: 200px;
    color:white;
    font-size: 18px;
    font-size: 18px;
    font-weight: 70;
}

.input{
    position: relative;
    left: 250px;
    top: -45px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}
.imageUrl{
    position: relative;
    left: 250px;
    top: -45px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    width: 60%;

}

.select{
    position: relative;
    left: 250px;
    width: 25%;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    height: 40px;
    color: #555;
    outline: none;
    overflow: hidden;
    top:-45px;
}
.checkBox{
    position: relative;
    width: 60%;
    justify-content: center;
    left:250px;
    top:-36px;
}
.description{
    position: relative;
    left: 250px;
    top: -37px;
    /* line-height: 100px; */
    width: 60%;
    border-radius: 6px;
    padding: 8px 14px;
    font-size: 11px;
    text-align: start;
    min-height: 140px;
}

.button{
    display:flex;
    position: right;
    /* left: 600px; */

}
.button button{
    background-color: #8C30F5;
    margin: 20px 0 0 435px;
    text-align: center;
    border-radius: 12px;
    /* border: 2px solid #366473; */
    padding: 14px 110px;
    outline: none;
    color: white;
    cursor: pointer;
    transition: 0.25px;
    font-size:15px;
}
.button button:hover{
    font-size: 17px;
    color: black;
    border: 2px solid black;
}

.error{
    color:red;
}