.pagination{
    display: inline-block;
    /* border: 2px solid green; */
    /* float: center; */
    align-content: center;
    padding: 10px;
    width: 100%;
    text-align: center;
    margin:10px 0;
    background-color: rgb(33,33,33,0.8);
}

.pagination a{
    color:white;
    float: center;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}

.pagination a.active{
    background-color: #D6B1FF;
    color: black;
    border-radius: 5px;
}

.pagination a:hover:not(.active){
    background-color: #ddd;
    border-radius: 5px;
}