/* styles for LandingPage */
body {
    width: auto;
    display: flex;
    background-image: url('https://images5.alphacoders.com/540/thumbbig-540654.webp');
}
 /* .landingPage {

    background-image: url('https://images5.alphacoders.com/540/thumbbig-540654.webp');

}  */