 body{
    color: white;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
     background-image: url('./images/pexels-element-digital-1293261.jpeg'); 
     background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: 'Orbitron';
} 