:root{
    --primary: #8c38ff;
    --light: #EEEEEE;
    --dark: #212121;
}

*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'courier',sans-serif;
}

.container{
    max-width: 1280px;
    margin: 0 auto;

    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid white; */
}
nav{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: var(--dark);
    padding: 16px 32px;
    border-bottom: 3px solid var(--primary);
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* border:2px solid blue; */
}
.logo img{
    width: 16px;
}
h1{
    color: #FFF;
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.hamburguer{
    display: block;
    position: relative;
    z-index:1;

    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
.hamburguer span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background-color: var(--light);
    border-radius: 6px;
    z-index: 1;

    transform-origin: 0 0;
    transition: 0.4s;
}

.hamburguer:hover span:nth-child(2){
    transform: translateX(10px);
    background-color: var(--primary);

}

.hamburguer.isActive span:nth-child(1){
    transform: translate(0px,-2px) rotate(45deg);
}
.hamburguer.isActive span:nth-child(2){
    opacity: 0;
    transform: translate(15px);
}
.hamburguer.isActive span:nth-child(3){
    transform: translate(-3px,3px) rotate(-45deg);
}
.hamburguer.hamburguer.isActive:hover span{
    background-color: var(--primary);
}

.menu{
     display: none;
    /*flex: 1 1 0%; */
    /* flex-direction: row; */
    justify-content: flex-end;
    margin: 0 -16px;
    /* border:2px solid green; */
    font: size 10px;;
    font-weight: 150;
}
.link{
    /* display: none;
    /* flex: 1 1 0%;
    justify-content: flex-end; */
    /* align-items: flex-end; */
    text-decoration: none;
    /* border:2px solid yellow; */
}
.link a {
    /* display: flex;
    flex-direction: row; */
    /* align-items: flex-end; */
    color: #FFF;
    margin: 0 16px;
    font-weight: 100px;
    text-decoration: none;
    transition: 0.4s;
    padding: 4px 8px;
    border-radius: 99px;
    /* border: 2px solid blue; */
}

.link a.isActive {
    background-color: var(--primary);
}
.link a:hover{
    background-color: var(--primary);
}
@media (min-width: 768px){
    .hamburguer{
        display: none;
    }
    .menu{
        display:block;
    }
}


/* .flexContainer{
    background-color: #969BAB;
    display: flex;
    flex-flow: row wrap;
    width:100%;
    margin:0 auto;
    justify-content: space-between;
    border: 2px solid green;
}

.box{
    color:black;
    font: 'Courier New', Courier , monospace;
     width: 180px;
    height: 180px; 
    line-height: 40px;
    text-align: center;
    margin:3px;
    border: 2px solid;
} */

/* .links{
    
    color: black;
    display: flex;
    flex-flow: row wrap;
    width:40%;
    margin:0 auto;
    justify-content: space-between;
    padding: 5px;

} */